# Exploration du fichier NYPD_Complaint_Data_Historic

Ce notebook permet d'explorer les données des fichiers NYPD_Complaint_Data_Historic.

En raison de la taille du fichier, celui-ci n'est pas synchronisé sur GitHub, mais est à placer dans le dossier raw avec le nom suivant:

NYPD_Complaint_Data_Historic.csv

In [2]:
import pandas as pd

df = pd.read_csv('../data/raw/NYPD_Complaint_Data_Historic.csv', low_memory=False)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1048575 entries, 0 to 1048574
Data columns (total 24 columns):
 #   Column             Non-Null Count    Dtype
---  ------             --------------    -----
 0   CMPLNT_NUM         1048575 non-null  int64
 1   CMPLNT_FR_DT       1048510 non-null  object
 2   CMPLNT_FR_TM       1048575 non-null  object
 3   CMPLNT_TO_DT       842616 non-null   object
 4   CMPLNT_TO_TM       843002 non-null   object
 5   RPT_DT             1048575 non-null  object
 6   KY_CD              1048575 non-null  int64
 7   OFNS_DESC          1045695 non-null  object
 8   PD_CD              1047842 non-null  float64
 9   PD_DESC            1047842 non-null  object
 10  CRM_ATPT_CPTD_CD   1048574 non-null  object
 11  LAW_CAT_CD         1048575 non-null  object
 12  JURIS_DESC         1048575 non-null  object
 13  BORO_NM            1048575 non-null  object
 14  ADDR_PCT_CD        1048574 non-null  float64
 15  LOC_OF_OCCUR_DESC  830823 non-null   object
 16  PREM_TYP_DESC      1043886 non-null  object
 17  PARKS_NM           7599 non-null     object
 18  HADEVELOPT         51772 non-null    object
 19  X_COORD_CD         1016158 non-null  float64
 20  Y_COORD_CD         1016158 non-null  float64
 21  Latitude           1016158 non-null  float64
 22  Longitude          1016158 non-null  float64
 23  Lat_Lon            1016158 non-null  object
dtypes: float64(6), int64(2), object(16)
memory usage: 192.0+ MB

In [3]:
df.head()

,CMPLNT_NUM,CMPLNT_FR_DT,CMPLNT_FR_TM,CMPLNT_TO_DT,CMPLNT_TO_TM,RPT_DT,KY_CD,OFNS_DESC,PD_CD,PD_DESC,...,ADDR_PCT_CD,LOC_OF_OCCUR_DESC,PREM_TYP_DESC,PARKS_NM,HADEVELOPT,X_COORD_CD,Y_COORD_CD,Latitude,Longitude,Lat_Lon
0,101109527,12/31/2015,23:45:00,NaN,NaN,12/31/2015,113,FORGERY,729.0,"FORGERY,ETC.,UNCLASSIFIED-FELO",...,44.0,INSIDE,BAR/NIGHT CLUB,NaN,NaN,1007314.0,241257.0,40.828848,-73.916661,"(40.828848333, -73.916661142)"
1,153401121,12/31/2015,23:36:00,NaN,NaN,12/31/2015,101,MURDER & NON-NEGL. MANSLAUGHTER,NaN,NaN,...,103.0,OUTSIDE,NaN,NaN,NaN,1043991.0,193406.0,40.697338,-73.784557,"(40.697338138, -73.784556739)"
2,569369778,12/31/2015,23:30:00,NaN,NaN,12/31/2015,117,DANGEROUS DRUGS,503.0,"CONTROLLED SUBSTANCE,INTENT TO",...,28.0,NaN,OTHER,NaN,NaN,999463.0,231690.0,40.802607,-73.945052,"(40.802606608, -73.945051911)"
3,968417082,12/31/2015,23:30:00,NaN,NaN,12/31/2015,344,ASSAULT 3 & RELATED OFFENSES,101.0,ASSAULT 3,...,105.0,INSIDE,RESIDENCE-HOUSE,NaN,NaN,1060183.0,177862.0,40.654549,-73.726339,"(40.654549444, -73.726338791)"
4,641637920,12/31/2015,23:25:00,12/31/2015,23:30:00,12/31/2015,344,ASSAULT 3 & RELATED OFFENSES,101.0,ASSAULT 3,...,13.0,FRONT OF,OTHER,NaN,NaN,987606.0,208148.0,40.738002,-73.987891,"(40.7380024, -73.98789129)"